html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
  }
/*margins*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header css*/
.header {
    top:0;
    background: #4c8795;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    line-height: 50px;
    z-index: 1000;
    font-size: 20px;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    
}
/*animationwhen loading */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
/*header font*/
.header h1 {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease;
}
/*header animation*/
.header h1:hover {
    color: #ffcc00;
   
}
/*paragraph text below header*/
.header p {
    font-size: 16px;
    font-style: italic;
}

/*nav styling*/
nav {
    display: flex;
    position: sticky;
    justify-content: center;
    background: linear-gradient(45deg, #2b7b82, #234c4c);
    padding: 0.5rem;
    z-index: 800;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*link css for nav*/
nav a {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    opacity: 0.7; 
    transition: opacity 0.6s ease; 
}
/*nav hover*/
nav a:hover {
    color:aqua;
    opacity: 1;
}
/*nav after animation - line under*/
nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #09616c;
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -5px;
}
/*nav after hover animation*/
nav a:hover::after {
    width: 100%;
}
/*css for container*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 1rem 0;
}

/*section css */
section {
    font-family: 'Nunito Sans', sans-serif; /* Apply the Nunito Sans font */
    font-size: 1rem; /* Set a suitable font size */
    line-height: 1.8; /* Improve readability */
    color: #333; /* Dark color for text */
    background: #c5ebfc;
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 30px;
    border: 2px solid #b2dfee;
    padding: 2rem;
    
}
/*section title css*/
.section-title {
    font-size: 1.5rem;
    color: #4c8795;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    border-bottom: 2px solid #4c8795;
    padding-bottom: 0.5rem;
}
/*img css*/
img {
    max-width: 100%;
    height: auto;  
    margin: 20px 0;  
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 

}
/*animation for hovering for imgs*/
img:hover {
    border-color: #4c8795; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}
/*footer css*/
footer {
    background: #4c8795; 
    color: #fff; 
    text-align: center;
    padding: 10px 0; 
    position: relative; 
    bottom: 0; 
    width: 100%; 
}

footer p {
    margin: 0; 
}